{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .thankyou {
      color: white;
      text-align: center;
      font-size: 40px;
      font-family: 'Righteous', cursive;
      font-weight: bold;
      position: relative;
      margin-top: 100px;
    }

    .subtext {
      color: white;
      position: relative;
      text-align: center;
      font-size: 20px;
    }

  </style>
{% endblock %}
{% block content %}
  <h1 class="thankyou"> Thank you for registering - you should receive an email as confirmation. </h1>
  <h3 class="subtext"> Once the hunt begins, you will be able to see puzzles and submit answers. <h3>
  <h3 class="subtext"> Email: hello@hello.com if you have any questions. </h3>
{% endblock %}
