{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .title {
      color: #ff7f23;
      text-align: center;
      font-size: 75px;
      font-family: 'Righteous', cursive;
      font-weight: bold;
      position: relative;
      margin-top: 100px;
    }

    .column-title {
      text-align: center;
      margin-bottom: 20px;
      font-size: 30px;
      font-family: 'Righteous', cursive;
    }

    .column-text {
      margin-left: 15px;
      margin-right: 15px;
      font-size: 14px;
      text-align: left;
      font-family: 'Roboto', sans-serif;
    }

    .row {
      margin-left: 70px;
      margin-right: 70px;
      margin-top: 30px;
    }

    .header-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      position: relative;
    }
  </style>
{% endblock %}
{% block content %}
<div class="title">
  Endless Puzzle Hunt
</div>
<img class="header-image" src="{{ url_for('static', filename = 'img/planet_header.png') }}">
<div class="row">
  <div class="col-sm-4">
    <div class="column-title">
      What
    </div>
    <div class="column-text">
      A week-long <a href="https://en.wikipedia.org/wiki/Puzzlehunt">puzzle hunt</a> made for all levels of experience! The theme for this hunt is Outer Space.
    </div>
  </div>
  <div class="col-sm-4">
    <div class="column-title">
      When
    </div>
    <div class="column-text">
      Four puzzles will be released each day from January 1st - January 8th, 2019.
    </div>
  </div>
  <div class="col-sm-4">
    <div class="column-title">
      How
    </div>
    <div class="column-text">
      Register your team and check back here when the hunt starts, or wait for our email announcing the start of the hunt. Puzzles and hints will be posted each day and the winning team will get bragging rights! Shoot us an email at hello@hello.com with any questions.
    </div>
  </div>
</div>
{% endblock %}
