{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .puzzles-title {
      color: #ff7f23;
      text-align: center;
      font-family: 'Righteous', cursive;
      font-weight: bold;
      position: relative;
      margin-top: 100px;
    }

    .table-header {
      color: #ffffff;
      font-family: 'Righteous', cursive;
    }

    table {
      width: 50%;
      align-items: center;
      font-family: 'Roboto', sans-serif;
      position: relative;
      margin: auto;
    }


    th, tr {
      border-bottom: 1px solid black;
      padding: 6px;
      border-color: white;
    }

  </style>
{% endblock %}
{% block content %}
  <h1 class="puzzles-title"> Puzzles </h1>
  {% if current_user.is_authenticated and current_user.username == "admin" %}
  <table align="center">
    <colgroup>
      <col style="width: 40ch">
      <col style="width: 8ch">
    </colgroup>
    <div class="table-header">
      <tr>
        <th> <a href="/puzzles?sort_by_solved=1"> Puzzle </a> </th>
        <th> <a href="/puzzles?sort_by_solve=1"> Solves </a> </th>
      </tr>
    </div>
  {% for puzzle in puzzles %}
    <tr>
      <th>  {% if puzzle_solves[puzzle.name] %}&check; {% endif %}</div> <a href="{{ url_for('puzzle_set', puzzle_name=puzzle.get_url_path())}}"> {{ puzzle.name }}</a></th>
      <th> {{puzzle.solves}}/{{puzzle.attempts}} </th>
    </tr>
  {% endfor %}
  </table>
  {% endif %}
{% endblock %}
