{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .scoreboard-title {
      color: #ff7f23;
      text-align: center;
      font-family: 'Righteous', cursive;
      font-weight: bold;
    }

    .table-header {
      color: #ffffff;
      font-family: 'Righteous', cursive;
    }

    table {
      width: 50%;
      align-items: center;
      font-family: 'Roboto', sans-serif;
    }


    th, tr {
      border-bottom: 1px solid black;
      padding: 6px;
      border-color: white;
    }

  </style>
{% endblock %}
{% block content %}
  <h1 class="scoreboard-title"> Scoreboard </h1>
  <table align="center">
    <colgroup>
      <col style="width: 5ch">
      <col style="width: 30ch">
      <col style="width: 5ch">
    </colgroup>
    <thead>
      <div class="table-header">
        <tr>
          <th> Rank </th>
          <th> Team </th>
          <th> Score </th>
        </tr>
      </div>
    </thead>
    <tbody>
    {% for team in team_scores %}
      <tr>
        <th> {{ loop.index }} </th>
        <th> {{ team.name }} </th>
        <th> {{ team.score }} </th>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
